# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
myenv/
venv/
ENV/

# Output files
output/*
*.wav
*.mp3
*.mp4
*.mkv
*.avi
*.mov
*.flv

# Model files
model/*

# IDE
.idea/
.vscode/
*.swp
*.swo
